.iwindow-template{
  display: none;
}
.iwindow-bg{
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:0px;
  display: none;
}
.iwindow-wrapper{
  position: absolute;
  box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
}
.iwindow-toolbar{
  height: 30px;
  position: relative;
}
.iwindow-title.dragable{
  cursor: move;
}
.iwindow-title{
  color:white;
  padding:6px 0px 3px 10px;
  font-size: 14px;
  height:100%;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  left:0px;
  top:0px;
  z-index: 1;
  background-color: rgb(0,155,219);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.iwindow-tool{
  position: absolute;
  right: 0px;
  top:0px;
  height: 100%;
  z-index: 2;
}
.iwindow-tool span{
  display: inline-block;
  transition: 200ms;
  height: 100%;
  width:30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 6px;
  box-sizing: border-box;
  cursor: default;
}
.iwindow-tool span:hover{
  background-color: rgba(255,255,255,.5);
}
.iwindow-tool span.close{
  border-top-right-radius: 3px;
}
.iwindow-tool span.close:hover{
  background-color: rgba(255,0,0,.8);
}
.iwindow-tool span img{
  width:15px;
  height: 15px;
}
.iwindow-content{
  background-color: white;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
